<div class="ui message">
    <form class="ui form" method="post" action="/SambleController/do">
        <div class="field">
            <label>Nom ou pseudo</label>
            <input type="text" name="Nom_ou_pseudo" placeholder="Nom ou pseudo">
        </div>
        <div class="field">
            <label>@ mail</label>
            <input type="text" name="email" placeholder="@ email">
        </div>
        <button class="ui button" type="submit">Valider l'inscription</button>
    </form>
</div>